body{
    background-color: blanchedalmond;
    font-family: "Poppins", sans-serif;
}

.title-card{
    text-align: center;
}

img{
    height: 200px;
    width: 200px;
}

/* dropdown buttons */
.dropdown{
    background-color: #a0522d;
    color: black;
    padding: 9px;
    font-size: 16px;
    border: none;
    font-weight: bold;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #a0522d;
}

.button{
    position: relative;
}


.items{
    display: none;
    position: absolute;
    background-color: #ffe4b5;
    max-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.items a{
    color: black;
    padding: 12px 16px;
    display: block;
}

.items a:hover{
    background-color: #964b00;
}

.button:hover .items{
    display: block;
}
